body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* Стили для контейнера прогресс-бара */
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px; /* Скругление углов контейнера */
    overflow: hidden;
    margin-bottom: 20px;
}

/* Стили для самого прогресс-бара */
#progress-bar {
    height: 20px; /* Высота прогресс-бара */
    width: 0%; /* Начальная ширина прогресс-бара */
    background-color: #76c7c0; /* Цвет прогресс-бара */
    transition: width 0.5s ease; /* Плавное изменение ширины */
}

/* Стили для сообщения загрузки */
#loading-indicator {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    font-size: 18px;
    border: 2px solid black; /* Черная рамка вокруг сообщения */
    padding: 10px;
    background-color: #f3f3f3; /* Цвет фона сообщения */
    border-radius: 5px; /* Скругление углов сообщения */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}







